
<h1>Welcome to Dash Board </h1>
<p>
  Dash board will give you a survey report
</p>

<p>Type your question</p>
<textarea cols="50" rows="5">
This is where the user can enter text. If there's too much text, the textbox can develop scrollbars to accommodate the extra text...
</textarea>




  
